<div class="panel panel-default">
 <div class="panel-heading">Pacientes</div>
 <div class="panel-body">
  <table class="table">
  <thead>
    <tr>
      <th>Codigo</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Fecha de nacimiento</th>
      <th>Telefono</th>
      <th>Acciones</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @patients.each do |patient| %>
      <tr>
        <td><%= patient.code %></td>
        <td><%= patient.name %></td>
        <td><%= patient.last_name %></td>
        <td><%= patient.birthdate %></td>
        <td><%= patient.phone %></td>
        <td><%= link_to 'Ver', patient %> | <%= link_to 'Editar', edit_patient_path(patient) %> | <%= link_to 'Eliminar', patient, method: :delete, data: { confirm: 'Esta seguro?' } %></td>
        <% if patient.may_deactivated? %>
        <td><%= link_to 'dar de baja', "/patients/#{patient.id}/baja", method: :put%></td>
        <% end %>
         <% if patient.may_activated? %>
        <td><%= link_to 'dar de alta', "/patients/#{patient.id}/alta", method: :put%></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
  <br>
  <div class="col-md-5 col-md-offset-5 col-sm-5 col-sm-offset-5">
   <p>
    <%= button_to new_patient_path, {method: :get, class: "btn btn-success"} do %>
     <span class="glyphicon glyphicon-plus" aria-hidden="true"> </span> Nuevo Paciente
    <% end %>
   </p>
  </div>
 </div>
</div>

