<p id="notice"><%= notice %></p>

<p>
  <strong>Codigo:</strong>
  <%= @item.code %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Cas Medica:</strong>
  <%= @item.brand.name %>
</p>

<p>
  <strong>Presentacion:</strong>
  <%= @item.unit.name %>
</p>

<p>
  <strong>Categoria:</strong>
  <%= @item.category.name %>
</p>

<p>
  <strong>Cantidad disponible:</strong>
  <%= @item.stock %>
</p>

<p>
  <strong>Cantidad minima:</strong>
  <%= @item.min_stock %>
</p>

<p>
  <strong>Sale price:</strong>
  <%= @item.sale_price %>
</p>

<p>
  <strong>Unit price:</strong>
  <%= @item.unit_price %>
</p>

<p>
  <strong>Cost price:</strong>
  <%= @item.cost_price %>
</p>

<%= link_to 'Editar', edit_item_path(@item) %> |
<%= link_to 'Volver', items_path %>
